<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <header>
       <nav>
           <a href="/"><h1>FlaskApp</h1></a>
           <a href="/login">Login</a>
           <a href="/signup">Sign Up</a>
       </nav>
   </header>
   {% block body %}
   
   {% endblock %}
   <footer>
       <center>
           FlaskApp &copy; 2019
       </center>
   </footer>
</body>
</html>