{% extends 'layout.html' %}
{% block  body%}
<center>
   <form action="" method="post">
    <div class="form">
        <h3>Create An Account</h3>
        <p>{{form.name.label}}</p>
        <p>{{form.name}}</p>

        <p>{{form.email.label}}</p>
        <p>{{form.email}}</p>

        <p>{{form.password.label}}</p>
        <p>{{form.password}}</p>

        <p>{{form.confirm.label}}</p>
        <p>{{form.confirm}}</p>

        <p>{{form.submit}}</p>
    </div>
   </form>
</center>
{% endblock %}


